<div class="header">
  <div class="container">
    <div class="header__searchRow">
      <div class="header__searchBox">
        <img
          src="../../assets/logo.svg"
          alt="youtube-img"
          class="header__logo"
        />

        <div class="header__searchContainer">
          <input
            type="text"
            class="header__searchInput"
            placeholder="What are you want to find out?"
          />
          <button mat-flat-button class="header__searchBtn" (click)="test()">
            search
          </button>
        </div>

        <button class="header__settingsBtn" (click)="setOpenSort()">
          <img
            src="../../assets/search_settings.svg"
            alt="search-settings-img"
          />
        </button>
      </div>

      <div class="header__loginBox">
        <p>Your Name</p>
        <button class="header__loginBtn" (click)="test()">
          <img src="../../assets/login.png" alt="search-login-img" />
        </button>
      </div>
    </div>

    <div class="header__sortRow" *ngIf="isOpenSort">
      <p class="header__sortText">Sorting by:</p>
      <button class="header__sortBtn">date</button>
      <button class="header__sortBtn">count of views</button>
      <button class="header__sortBtn">by word or sentance</button>
      <input type="text" class="header__sortInput" />
    </div>
  </div>
</div>
