<div class="details">
  <div class="container">
    <div class="details__content">
      <div class="details__backBtn" routerLink="/"><</div>
      <div class="details__card">
        <div class="details__img"></div>
        <div class="details__textBox">
          <div class="details__topWrapper">
            <div class="details__topRow">
              <p class="details__title">Kuji Podcast #20</p>
              <p class="details__date">Thursday, May 20, 2019</p>
            </div>

            <div class="details__description">
              <p class="details__descriptionTitle">Description:</p>
              <p class="details__descriptionText">
                Это KuJi Podcast. В этом выпуске Тимур Каргинов, Андрей Коняев и
                Нурланом Сабуровым обсуждают окончание 2018 года: бой Хабиба с
                МакГрегором, Кокорина и Мамаева, шоу Урганта на Первом канале,
                экономический кризис и подарки для близких.
              </p>
            </div>
          </div>

          <div class="details__statistics">
            <span class="details__statisticsText">
              <img src="assets/viewed.svg" alt="view-img" />
              32423
            </span>
            <span class="details__statisticsText">
              <img src="assets/liked.svg" alt="like-img" />
              346
            </span>
            <span class="details__statisticsText">
              <img src="assets/dislike.svg" alt="dislike-img" />
              6345
            </span>
            <span class="details__statisticsText">
              <img src="assets/Group 9.svg" alt="comment-img" />
              346
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
