<div class="header">
  <div class="container">
    <div class="header__searchRow">
      <div class="header__searchBox">
        <img
          src="assets/logo.svg"
          alt="youtube-img"
          class="header__logo"
          routerLink="/"
        />

        <div class="header__searchContainer">
          <input
            type="text"
            class="header__searchInput"
            placeholder="What are you want to find out?"
            (input)="handleSearchInput($event)"
          />
        </div>

        <button class="header__settingsBtn" (click)="setOpenSort()">
          <img src="assets/search_settings.svg" alt="search-settings-img" />
        </button>
      </div>

      <div class="header__loginBox">
        <p>{{ getLoginFromToken() }}</p>
        <img
          class="header__loginImg"
          src="assets/login.svg"
          alt="login-img"
          routerLink="/auth"
        />
        <button
          class="header__logout"
          (click)="handleLogout()"
          *ngIf="getLoginFromToken()"
        >
          <img
            class="header__logoutImg"
            src="assets/log-out.svg"
            alt="logout-img"
            class="header__logoutImg"
          />
        </button>
      </div>
    </div>

    <div class="header__sortRow" *ngIf="isOpenSort">
      <p class="header__sortText">Sorting by:</p>
      <button class="header__sortBtn" (click)="handleSorting('date')">
        date
      </button>
      <button class="header__sortBtn" (click)="handleSorting('views')">
        count of views
      </button>
      <button class="header__sortBtn" (click)="handleSorting('word')">
        by word or sentance
      </button>
      <input
        type="text"
        class="header__sortInput"
        (input)="handleSortingInput($event)"
      />
    </div>
  </div>
</div>
