.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-background-color);

  &__logo {
    cursor: pointer;
  }

  &__searchRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
    position: relative;
  }

  &__searchBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &__searchInput {
    width: 396px;
    height: 24px;
    background: #efefef;
    font-size: 12px;
    padding: 3px 5px;

    &::placeholder {
      color: var(--secondary-text-color);
    }
  }

  & &__searchBtn {
    background-color: var(--primary-color);
    color: var(--white-text-color);
    font-weight: 400;
    font-size: 12px;
    box-shadow: 2px 0px 4px 0px var(--primary-color);
    width: 80px;
    height: 24px;
  }

  &__settingsBtn {
    box-shadow: 2px 0px 4px 0px var(--primary-color);
    border-radius: 5px;
  }

  &__loginBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 30px;
  }

  &__loginImg {
    cursor: pointer;
  }

  &__logout {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    border-radius: 5px;
    box-shadow: 2px 0px 4px 0px var(--primary-color);
  }

  &__logoutImg {
    height: 18px;
    width: 18px;
    filter: invert(100%);
  }

  &__sortRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: var(--secondary-background-color);
    gap: 13px;
  }

  &__sortText {
    color: var(--secondary-text-color);
  }

  &__sortBtn {
    color: var(--primary-color);
    text-decoration: underline;
    background-color: var(--secondary-background-color);
  }

  &__sortInput {
    height: 13px;
    width: 149px;
  }
}
