.admin {
  &__content {
    padding-top: 45px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: calc(100vh - 80px);
  }

  &__card {
    display: flex;
    width: 350px;
    min-height: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #f2f2f2;
    padding: 25px;
    gap: 17px;
  }

  &__cardTitle {
    font-size: 18px;
    font-weight: 700;
  }

  &__inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__inputBox {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__label {
    font-size: 10px;
    color: var(--secondary-text-color);
    padding-left: 5px;
  }

  &__input {
    height: 37px;
    width: 300px;
    background-color: var(--input-background-color);
    font-size: 10px;
    padding: 10px;

    &.ng-invalid.ng-dirty {
      outline: 1px solid red;
    }
  }

  &__error {
    color: red;
  }

  &__inputTagsRow {
    display: flex;
    gap: 5px;
  }

  &__inputTags {
    width: 100%;
    background-color: var(--input-background-color);
    font-size: 10px;
    padding: 10px;
  }

  &__tagsBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
  }

  &__tag {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 5px 10px;
  }

  &__tagsClose {
    display: flex;
    padding-left: 8px;
    padding-top: 2px;
    height: 24px;
    width: 24px;
    background-color: #c1c1c1;
    color: #575757;
    border-radius: 50%;
    font-size: 15px;
  }

  &__buttonsRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
